/* style.css */

body {
    font-size: 20px;
    text-align: center;
    padding: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

li {
    text-align: left;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    background-color: red;
    margin: 8px;
    padding: 16px;
    display: inline-block;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}